{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="my-4 h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <div class="card shadow">
                         <div class="card-header">
                            <h2 class="text-center">Register</h2>
                        </div>
                        <div class="card-body">
                            {{ form_start(registrationForm) }}
                                <fieldset class="mb-3">
                                    <legend> Identity </legend>
                                    <div class="my-2">{{ form_row(registrationForm.firstname) }}</div>
                                    <div class="my-2">{{ form_row(registrationForm.lastname) }}</div>
                                    <div class="my-2">{{ form_row(registrationForm.email) }}</div>
                                    
                                    
                                    
                                </fieldset>
                                <hr>
                                <fieldset class="mb-3">
                                    <legend> Contact details </legend>
                                    <div class="my-2">{{ form_row(registrationForm.address) }}</div>
                                    <div class="my-2">{{ form_row(registrationForm.zipcode) }}</div>
                                    <div class="my-2">{{ form_row(registrationForm.city) }}</div>
                                </fieldset>
                                <div class="my-2"> {{ form_row(registrationForm.plainPassword) }}</div>

                                <div class="my-2">{{ form_row(registrationForm.agreeTerms) }}</div>
                                <button type="submit" class="btn btn-sm btn-primary my-3">Register</button>

                                <a href="{{ path('app_login') }}" class="btn btn-sm btn-secondary">Log in</a>

                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
{% endblock %}
